.import_svg {
 max-width: 300px;
}
.import_brands_cards h1 {
    font-size: 26px;
    color: black;
    font-weight: revert;
}
.import_selos h1 {
    font-size: 26px;
    color: black;
    font-weight: revert;
}
.center_pix {
 display: flex;
}
.selos {
 max-width: 100px;
}
.center_pix {
 justify-content: center;
}
@media (max-width:768px) {
    .import_brands_cards h1 {
        font-size: 16px;
        color: black;
        text-align: center;
    }
    .center_pix {
        display: block;
    }
    .import_selos h1 {
        font-size: 16px;
        color: black;
        text-align: center;
    }
}