@charset "UTF-8";
.navigation {
 height: 80px;
 background: #00ff89;
}
@media (max-width:768px) {
  .navigation {
   height: 170px;
  }
  input {
    border-radius: 12px 0px 0px 12px!important;
   }
   button {
    background: black!important;
    color: wheat;
    padding: 15px;
    border-radius: 0px 10px 10px 0px!important;
    border: none;
   }
}
.brand {
 position: absolute;
 padding-left: 20px;
 float: left;
 line-height: 70px;
 text-transform: uppercase;
 font-size: 1.4em;
}
.brand a,
.brand a:visited {
 color: #ffffff;
 text-decoration: none;
}
.nav-container {
 max-width: 1000px;
 margin: 0 auto;
}
nav {
 float: right;
}
@media (min-width:900px) {
  nav {
   display: none!important;
  }
}
nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}
nav ul li {
 float: left;
 position: relative;
}
nav ul li a,
nav ul li a:visited {
 display: block;
 padding: 0 20px;
 line-height: 70px;
 background: #262626;
 color: #ffffff;
 text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
 background: #2581DC;
 color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
 padding-left: 4px;
 content: " ▾";
}
nav ul li ul li {
 min-width: 190px;
}
nav ul li ul li a {
 padding: 15px;
 line-height: 20px;
}
.nav-dropdown {
 position: absolute;
 display: none;
 z-index: 1;
 box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
 display: none;
 position: absolute;
 top: 0;
 right: 0;
 /* background: #262626; */
 height: 70px;
 width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
   display: block;
  }
  nav {
   width: 100%;
   padding: 70px 0 15px;
  }
  nav ul {
   display: none;
  }
  nav ul li {
   float: none;
  }
  nav ul li a {
   padding: 15px;
   line-height: 20px;
  }
  nav ul li ul li a {
   padding-left: 30px;
  }
  .nav-dropdown {
   position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
   display: block !important;
  }
}
#nav-toggle {
 position: absolute;
 left: 18px;
 top: 22px;
 cursor: pointer;
 padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
 cursor: pointer;
 border-radius: 1px;
 height: 5px;
 width: 35px;
 background: #ffffff;
 position: absolute;
 display: block;
 content: "";
 transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
 top: -10px;
}
#nav-toggle span:after {
 bottom: -10px;
}
#nav-toggle.active span {
 background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
 top: 0;
}
#nav-toggle.active span:before {
 transform: rotate(45deg);
}
#nav-toggle.active span:after {
 transform: rotate(-45deg);
}
article {
 max-width: 1000px;
 margin: 0 auto;
 padding: 10px;
}
.usher_import {
 width: 50%;
 text-align: center;
 display: block;
 margin: auto;
 top: 20px;
 position: relative;
}
@media (max-width:768px) {
  .usher_import {
   width: 90%;
   text-align: center;
   display: block;
   margin: auto;
   top: 80px;
   position: relative;
  }
  .btn {
   display: none!important;
  }
  .carousel-control-next, .carousel-control-prev {
   position: absolute;
   top: 300px!important;
   bottom: 0;
   z-index: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15%;
   color: #fff;
   text-align: center;
   opacity: .5;
   transition: opacity .15s ease;
  }
}
/* Social Import 1  */
@media (max-width:768px) {
  .request_zone {
   display: none!important;
  }
}
.request_zone {
 display: inline-flex;
 width:90%;
}
.socials {
 width: 20%;
 word-spacing: 12px;
 text-align: center;
}
.super-links {
 width: 80%;
 text-align: end;
} 
.socials i {
 color: yellow;
}
.super-links a {
 color: yellow!important;
 margin: 10px;
}
.super-links span {
 color: yellow;
 margin: 5px;
}
.fa-search {
 color: yellow;
 font-size: 20px;
}
button {
 background: black!important;
 color: wheat;
 padding: 15px;
 border-radius: 0px 10px 10px 0px!important;
 border: none;
}
.btn {
 background: rgba(255, 255, 0, 0)!important;
 border-radius: 0px 0px 0px 0px!important;
}
.btn:hover {
 box-shadow: none;
 text-shadow: none;
 background: rgb(255, 255, 0)!important;
 border-radius: 0px 0px 0px 0px!important;
}
.atalhodetextosnippetTextOpenButton {
 display: none;
}
.bi-arrow-counterclockwise {
 color: black;
}
.div_import {
 display: flex;
 margin: 10px 20px 10px 10px;
}
.div_import img {
 padding: 10px;
}
.title {
 border-right: 2px solid #e4d7d7;
 padding: 5px; 
}
.div_import strong {
 font-size: 10px;
}
.div_import span {
 font-size: 10px;
}
.icons_flex {
 display: flex;
 justify-content: center;
}
@media (max-width:768px) {
  .icons_flex {
   display: none;
  }
}

/* X-Cliente */
.welcome_client {
 text-align: center;
}
.wrap {
 width: 100%;
 margin: auto;
 background: black!important;
}
.rotepayments {
  width: 90%;
  margin: auto;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 55%; */
  height: 20px;
  margin: 310px 0px;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
  background: aqua;
}